* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  font: 19px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none
}

header {
  background-color: black;
  padding: 14px;
  font-size: 1.3em;
}

header > div {
  color: white;
  display: inline;
}

header > div.menu-btn {
  float:right;
}