{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "rules": {
        "react/sort-comp":0
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    }
}