{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "rules": {
        "react/sort-comp": 0,
        "react/prop-types": 0,
        "import/named": 0
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    }
}