.col, .add-column-btn {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    overflow: scroll;
    padding: 1.5rem;
    margin: 1rem;
}

.add-column-btn {
    background-color:  gray;
    text-align: center;
}

.col-header {
    display: flex;
}

.col-body { 
    display: flex;
    flex-direction: column;
}

.col-title {
    margin-right: auto;
}

.col-btns > button {
    background-color: white;
    border: none;
    font-size: 1.2rem;
    outline: none;
}

.note-counter {
    margin: 0px .5rem;
}

.label-col-name, .input-col-name {
    display: block;
}