.modal {
    display: none;
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
  }
  
.modal-container {
  overflow-y: auto;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  background: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  z-index: 1500;
  opacity: 1;
  word-break: break-all;
}

.modal-header {
    display: flex;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.label-col-name, .input-col-name {
    display: block;
}

.modal-closer {
    margin-left: auto;
}

.modal-bg {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}
  