.menu-header, .activity, .log {
  padding: 1rem;
}

.menu {
  float: right;
  position: fixed;
  top:0;
  right:0;
  z-index: 5;
  box-sizing: border-box;
  height: 100%;
  background-color: #ffffff;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}

.open {
  width: 400px;
}

.close {
  width: 0;
}

.menu-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

.menu-title {
  margin-right: auto;
}

.menu-close-btn {
  background: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1.2rem;
  outline: none;
}

.activity {
  border-bottom: 1px solid black;
}
.log {
  border-bottom: 1px solid black;
}

.log-writer, .log-from, .log-to {
  font-weight: 800;
}

.none {
  font-weight: 400;
}